body {
  padding-top: 80px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {

  body {
    padding-top: 0;
  }

}

@media (max-width: 979px) and (min-width: 768px) {
  body {
    padding-top: 0;

  }
}

.navbar .brand {
  text-transform: none;
  color: white;
  font-weight: normal;
}

.tag_box {
  margin-bottom: 2em;
}

.post .tag_box {
  list-style: none;
  margin-left: 0;
}

.post .tag_box .btn {
  margin: 0 5px 5px 0;
}
